.aboutMalt {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1124px;
    margin: 6rem auto;
}

.textArt {
    width: 75%;
    text-align: center;
    align-self: center;
}

.textArt h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.8rem;
    color: brown;
    font-weight: 700;
}

.textArt p {
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 1rem 0;
    color: #2c3e50;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.videoDiv {
    width: 55%;
    align-self: center;
}

.IVideo {
    border: transparent;
    border-radius: .5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}