.cta {
    max-width: 1124px;
    margin: 5rem auto;
    background-image: linear-gradient(to bottom, rgba(46, 49, 48, 0.4), rgba(47, 51, 50, 0.425)), url('../../Assets/Riviera-Beach-Malta-scaled.jpeg');
    background-position: center;
    background-size: cover;
    height: 30rem;
    border-radius: 1rem;
}

.promoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.promoDiv h2 {
    color: #f1c40f;
    font-size: 3.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.promoDiv p {
    margin: .8rem 0 1.2rem;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: .8px;
    color: floralwhite;
}

.promoDiv button {
    background: transparent;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: .3rem .5rem;
}

@media only screen and (max-width: 1034px) {
    .cta {
        margin: 5rem 1rem;
    }

    @media only screen and (max-width: 800px) {
        @media only screen and (max-width: 500px) {
            .cta {
                height: 18rem;
                margin: 3rem 1rem;
            }

            .promoDiv {
                width: 85%;
            }

            .promoDiv h2 {
                font-size: 2rem;
            }

            .promoDiv p {
                font-size: 1.2rem;
                font-weight: 400;
            }

            .promoDiv button {
                font-size: 1.2rem;
            }
        }
    }
}