.footer {
    max-width: 1124px;
    margin: 8rem auto 5rem;
}

.footerArt {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyRight {
    font-size: .8rem;
    color: rgb(118, 114, 114);
}

.footerLinks h4 {
    color: #243763;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .8px;
}

.footerLinks li {
    margin: .2rem;
    font-size: .8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2c3e50;
    cursor: pointer;
    list-style: none;
    letter-spacing: .5px;
}

.socialDiv h4 {
    font-size: 1.2rem;
    color: #243763;
    margin: .5rem 0 .8rem;
    width: 70%;
    letter-spacing: .8px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.socialDiv div {
    display: flex;
    gap: 1.5rem;
}

.socialDiv div>* {
    font-size: 1.5rem;
    color: #2c3e50;
    cursor: pointer;
}

@media only screen and (max-width: 1034px) {
    .footerArt {
        margin: 1.5rem 1rem;
    }

    @media only screen and (max-width: 800px) {
        .footer {
            margin: 5rem auto;
        }

        .footerArt {
            justify-content: space-between;
            margin: 1rem 1rem 0;
        }

        @media only screen and (max-width: 580px) {
            .footerArt {
                flex-direction: column-reverse;
                justify-content: flex-start;
                gap: 2rem;
                margin: 2rem 2rem 0;
            }

            .socialDiv div {
                gap: .8rem;
                justify-content: flex-start;
            }

            .socialDiv h4 {
                width: 60%;
            }
        }
    }
}