.theHeader {
    background-color: #f9f9f986;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0px, rgba(0, 0, 0, 0.1) 0 0 1px 0;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1124px;
    margin: 0 auto;
    padding: 1rem 0 0.8rem;
}

.LogoDiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.LogoIcon,
.go {
    font-size: 2.5rem;
    color: brown;
}

.LogoText {
    font-size: 2.5rem;
    color: #243763;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.menuLinks {
    font-size: 1.4rem;
    font-weight: 400;
    color: #34495e;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.singIn {
    background-color: #243763;
    border: transparent;
    color: #FFEBB7;
    font-size: 1.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
}

.menuItems {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 1.2rem;
    gap: 3rem;
    max-width: 1124px;
}

.btnDiv {
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.menuDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.MenuItem {
    display: flex;
    width: 25%;
    justify-content: space-between;
    border: 1px solid #34495e;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    color: #2c3e50;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}

.TheHero {
    max-width: 1124px;
    margin: 0 auto;
}

.heroContent {
    position: relative;
    width: 100%;
    height: 30.75rem;
}

.HeroImg {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    height: 100%;
}

.TextDiv {
    position: absolute;
    text-align: center;
    top: 18rem;
    left: 50%;
    width: 55%;
    transform: translate(-50%);
}

.heroTitle {
    font-size: 6rem;
    letter-spacing: 5px;
    color: #f1c40f;
    font-weight: 700;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.heroText {
    font-size: 1.8rem;
    font-weight: 600;
    color: aliceblue;
    letter-spacing: 0.0313rem;
    font-style: italic;
    line-height: 1.2;
    font-family: 'Source Sans Pro', sans-serif;
}

.MenuIcon {
    display: none;
}

@media only screen and (max-width: 1034px) {
    .Nav {
        margin: 0 1rem;
    }

    .heroContent {
        padding: 1rem;
    }

    .TextDiv {
        top: 16rem;
    }

    .menuItems {
        margin: 3rem 1rem 1rem;
    }

    @media only screen and (max-width: 800px) {
        .MenuIcon {
            font-size: 2rem;
            color: #34495e;
            display: block;
        }

        .menuDiv {
            position: absolute;
            top: 3.5rem;
            right: -1000%;
            flex-direction: column;
            background-color: #f9f9f9b7;
            width: 15.625rem;
            height: 100vh;
            border-radius: 0.8rem;
            padding: 3rem 0;
            z-index: 3;
            box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
            transition: all .6s ease-in-out;
            backdrop-filter: blur(30px);
        }

        .btnDiv {
            gap: 1rem;
        }

        .openMenu {
            right: -.5rem;
        }

        .TextDiv {
            top: 15rem;
            width: 90%;
        }

        .heroContent {
            padding: 1rem;
            height: 30rem;
        }

        .menuItems {
            margin: 3rem 1rem .6rem;
        }

        @media only screen and (max-width: 580px) {
            .MenuIcon {
                font-size: 1.8rem;
            }

            .Nav {
                margin: 0 1rem;
            }

            .LogoIcon,
            .LogoText,
            .go {
                font-size: 1.8rem;
            }

            .singIn {
                font-size: 1.3rem;
                padding: 0.2rem 0.4rem;
                font-weight: normal;
                border-radius: 0.3rem;
            }

            .HeroImg {
                border-radius: 0;
            }

            .heroContent {
                height: 20.75rem;
                padding: 0;
            }

            .TextDiv {
                top: 11.5rem;
            }

            .heroTitle {
                font-size: 3.2rem;
                font-weight: 600;
                letter-spacing: 3px;
            }

            .heroText {
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.3px;
            }

            .menuItems {
                justify-content: left;
                overflow-x: scroll;
                margin: 3rem 0.6rem 1rem;
                gap: 1.5rem;
            }

            .MenuItem {
                width: 40vw;
                font-size: .8rem;
                letter-spacing: 1px;
                font-weight: normal;
                justify-content: space-between;
                align-items: center;
                gap: 3rem;
            }
        }
    }

}